body {
  width: 90%;
  background-color: white;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

textarea::placeholder {
  color: blue;
  font-family: inherit;
  font-weight: bold;
}

textarea {
  width: 109%;
  height: 20em;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
}

button {
  background-color: green;
  color: white;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 5px;
}

#word-count {
  font-size: 1.5em;
  padding-top: 10px;
  font-weight: bold;
}

#error {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.dark-mode {
  background-color: black;
  color: white;
}
